<div class="container">
  <h1 class="text-center">
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </h1>
  
  <br />

  <ng-template #loadingEl>
    <progress-bar></progress-bar>
  </ng-template>

  <div *ngIf="items$ | async as stores; else loadingEl">
    <div *ngIf="!stores?.length; else storesEl" class="text-center alert alert-warning" role="alert">
      No Items exists.
    </div>
    
    <ng-template #storesEl>
      <div class="clearfix">
        <div class="">
          <table class="table text-left">
            <thead>
              <tr>
                <th>S/N<sup>o</sup></th>
                <th>Title</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Cost</th>
                <th>Last Action</th>
                <th>Store. Date</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of stores; let i = index" @toggle1>
                <td>
                  {{ i+1 }}
                </td>
                <td>
                  <a routerLink="{{ item.id }}">
                    {{ item.title }}
                  </a>
                </td>
                <td>
                  {{ item.description }}
                </td>
                <td>(<strong>{{ item.stock }}</strong>)</td>
                <td><strong>{{ item.cost|currency:'NGN':true }}</strong></td>
                <td>
                  <h4 class="label label-warning" *ngIf="item.last_action == null">CREATED</h4>
                  <h4 class="label label-success" *ngIf="item.last_action == 0">ADDED</h4>
                  <h4 class="label label-danger" *ngIf="item.last_action == 1">SOLD</h4>
                  <h4 class="label label-primary" *ngIf="item.last_action == 2">USED</h4>  
                </td>
                <td>{{ item.date | date }}</td>
                <td>
                  <button type="button" (click)="onDelete(item)" class="btn btn-outline btn-danger btn-xs">
                    &nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>      
      </div>
    </ng-template>
  </div>

  <br />

  <div class="text-center">
    <button class="btn btn-primary" (click)="showCreate = true">
      <span class="glyphicon glyphicon-plus"></span>
      CREATE ITEM
    </button>
  </div>
</div>

<div class="create" *ngIf="showCreate" @toggle2>
  <section>
    <form [hidden]="IS_LOGGED" (submit)="onSubmit($event)" class="form col-sm-5 col-xs-10 col-center" [formGroup]="form">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="title" placeholder="Title of Product">
      </div>
      <div class="form-group">
        <textarea formControlName="description" class="form-control" rows="5" placeholder="Description of Product"></textarea>
      </div>
      <div class="form-group">
        <label>Cost of Item</label>
        <input type="number" class="form-control" formControlName="cost" placeholder="0">
      </div>
      <div class="form-group">
        <label>Current Stock</label>
        <input type="number" class="form-control" formControlName="stock" placeholder="0">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="cancel" (click)="onCancel($event)" class="btn btn-link btn-xs pull-right">cancel</button>
      </div>
    </form>
  </section>
</div>
