html, body {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;*/
  font-family: 'Source Sans Pro', "Segoe UI", "Segoe WP", "Helvetica Neue";
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 1pt;
	font-family: 'Open Sans', 'Source Sans Pro', "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
}

h1 { font-size: 285%;}
h2 { font-size: 255%;}
h3 { font-size: 235%;}
h4 { font-size: 200%;}
h5 { font-size: 160%;}
h6 { font-size: 160%;}

.pointer {
	cursor: pointer;
}

.grids {
	border: solid 1pt antiquewhite !important;
}

.btn:focus {
  outline: none !important;
}
